<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <hr class="centered-line-yellow">
        <h2>About Me</h2>
        <hr class="centered-line-yellow">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>My name is Robin Peutlschmid, and I am a 3D artist, Technical Artist, Environment Artist, Level and Game Designer. 
          I am pursuing a degree in general IT at the Faculty of Informatics at Masaryk University and 
          additionally, I am proud to be the co-founder of Monimus Arts, an indie game studio based in Brno, Czechia.
        </p>
      </div>
      <div class="col-lg-4">
        <p> I specialize in creating visually engaging environments that tell a story, with expertise in hard surface modeling and sculpting.
           My experience includes short story games, platformers, and a canceled stealth game. 
           Currently, I’m working on an unannounced sci-fi adventure game. For inquiries, feel free to contact me. </p>
      </div>

        </a>
      </div>
    </div>
  </div>
</section>
