<!-- Skills and Tools Section -->
<section class="success" id="skills-tools">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <hr class="centered-line-yellow">
        <h2>My Skills and Tools</h2>
        <hr class="centered-line-yellow">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h3 class="centered-header">Game Engines</h3>
        <p class="centered-text">Unreal Engine 5</p>
        <p class="centered-text">Unity</p>
        <p class="centered-text">Godot</p>
        <h3 class="centered-header">Programming/Scripting</h3>
        <p class="centered-text">C, C#, HLSL</p>
        <p class="centered-text">Python, Bash</p>
        <p class="centered-text">Java, Haskell </p>
      </div>
      <div class="col-lg-6">
        <h3 class="centered-header">3D Work</h3>
        <p class="centered-text">Blender</p>
        <p class="centered-text">Substance Painter</p>
        <p class="centered-text">Autodesk Inventor</p>
        <h3 class="centered-header">Project Management</h3>
        <p class="centered-text">Youtrack</p>
        <p class="centered-text">Perforce</p>
        <p class="centered-text">Trello</p>
      </div>
    </div>
  </div>
</section>

<style>
  .centered-header {
    text-align: center;
  }
  .centered-text {
    text-align: center;
  }
</style>
