<!DOCTYPE html>
<html>
{% include head.html %}
<link rel="icon" href="/favicon.ico" type="image/x-icon">

<body id="page-top" class="index">
  {% include nav.html %}
  {% include header.html %}
  
  {% include portfolio_grid_games.html %}
  {% include portfolio_grid_3dart.html %}
  {% include portfolio_grid_gd.html %}

  {% include about.html %}

  {% if site.contact == "static" %}
  {% include contact_static.html %}
  {% elsif site.contact == "disqus" %}
  {% include contact_disqus.html %}
  {% else %}
  {% include contact.html %}
  {% endif %}

  {% include footer.html %}
  {% include modals.html %}
  {% include js.html %}
</body>

</html>
